<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
     <header>
        <h1>{{ title }}</h1>
        <nav>
            <a href="/">Главная</a>
            <a href="/about/">О нас</a>
            <a href="/catalog/">Каталог</a>
        </nav>
    </header>
    <main>
        <h2>Каталог автомобилей</h2>
        <div class="catalog">
            {% for car, info in cars.items() %}
            <div class="car-item">
                <h3>{{ car }}</h3>
                <img src="images/{{ info.image }}" alt="{{ car }}" width="200"> <!–– Добавляем изображение -->
                <p>Цена: {{ info.price }} руб.</p>
                <button>Купить</button>

            </div>
            {% endfor %}
        </div>
    </main>
    <footer>
        <p>&copy; 2023 Автомагазин</p>
    </footer>
</body>
</html>

